* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  padding: 64px 0;
}

.container-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: calc(100vh - 100px - 32px - 32px);
}

.pokemon-detail {
  width: 300px;
  height: auto;
}

.container-pokemons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;

  width: 100%;
  height: 100px;
}

.pokemon-little-image {
  width: 100px;
  height: auto;

  cursor: pointer;
}

.normal {
  border: 2px solid purple;
}

.selected {
  border: 4px solid green;
}
